<style>
</style>
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-md-offset-6 col-md-6">
            <h2>Product Name</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <img src="~/Content/img2.jpg" style="width:250px; border:1px solid " />
        </div>
        <div class="col-md-offset-2 col-md-6" style="padding-top:0px">
            &nbsp;
            &nbsp;

            <h4>Descrição</h4>
            <h6> Aço inoxidável, com peças de ouro.</h6>
            &nbsp;
            <h3>13.00€</h3>
            <button type="button"> - </button>&nbsp;<button type="button" disabled style="background-color:white;border:1px solid grey"> 1 </button>&nbsp;<button type="button"> + </button>&nbsp; <button type="submit" style="background-color:lightcoral;width:100px; height:50px; color:white; font-size:16px"> Adicionar </button>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <img src="~/Content/img1.jpg" style="width:50px" />

            <img src="~/Content/img2.jpg" style="width:50px" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

    </div>
</div>