<style>
    .but1 {
        width: 28px;
        height: 45px;
        background: white;
        text-align: center;
        border: 1px solid lightgrey;
        margin: -1px;
    }

    .minus:hover {
        background: antiquewhite
    }

    .plus:hover {
        background: antiquewhite
    }
</style>

<script>
    $("#pl").click(function () {
        document.getElementById("num").innerHTML = $("#num").text(num) + 1;
    });

    $("#min").click(function () {
        num = num - 1;
        $("#num").text(num);
    });

</script>
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-md-offset-6 col-md-6">
            <h2>Product Name</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <img src="~/Content/img2.jpg" style="width:250px" />
        </div>
        <div class="col-md-offset-2 col-md-6" style="padding-top:0px">
            &nbsp;
            &nbsp;

            <h4>Descrição</h4>
            <h6> Aço inoxidável, com peças de ouro.</h6>
            &nbsp;
            <h3>13.00€</h3>
            <input type="button" id="min" value="-" class="but1 minus" /><input type="button" id="num" value="1" class="but1" /><input type="button" id="pl" value="+" class="but1 plus" />
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <img src="~/Content/img1.jpg" style="width:50px" />

            <img src="~/Content/img2.jpg" style="width:50px" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

    </div>
</div>