<script src="~/Scripts/jquery-3.3.1.js"></script>
<style>
    .but1 {
        width: 28px;
        height: 45px;
        background: white;
        text-align: center;
        border: 1px solid lightgrey;
        margin: -1px;
    }

    .minus:hover {
        background: antiquewhite
    }

    .plus:hover {
        background: antiquewhite
    }
</style>
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-md-offset-6 col-md-6">
            <h2>Product Name</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <img src="~/Content/img2.jpg" style="width:250px" />
        </div>
        <div class="col-md-offset-2 col-md-6" style="padding-top:0px">
            &nbsp;
            &nbsp;
            <!--Gosto muito do trabalho, so uma coisa, quando metes id's e class's em elementos tenta mete los primeiro, é mais organizado :)-->
            <h4>Descrição</h4>
            <h6> Aço inoxidável, com peças de ouro.</h6>
            &nbsp;
            <h3>13.00€</h3>
            <!--Mudar o primeiro e ultimo inputs para buttons-->
            <input id="min" class="but1 minus" type="button" value="-" />
            <input id="num" class="but1" type="button" value="1" />
            <input id="pl" class="but1 plus" type="button" value="+" />
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <img src="~/Content/img1.jpg" style="width:50px" />

            <img src="~/Content/img2.jpg" style="width:50px" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

    </div>
</div>
<script>
    $("#min").click(function () {
        var contador = $("#num").attr('value');
        if (contador >= 1) {
            var newContador = contador - 1;
            $("#num").removeAttr('value');
            var val = document.createAttribute('value');
            val.value = newContador;
            $("#num").attr('value', val.value);
        }
        else {alert("Erro nao pode pedir negativos Este aviso é temporario")}
    })
    $("#pl").click(function () {
        var contador = $("#num").attr('value');
        if (contador <= 5) {
            var newContador = +contador + +1;
            $("#num").removeAttr('value');
            var val = document.createAttribute('value');
            val.value = newContador;
            $("#num").attr('value', val.value);
        }
        else {alert("Erro nao pode pedir mais que 6 Este aviso é temporario")}
    })
</script>