
@{
    ViewBag.Title = "DataTable";
}

<h2>Base de Dados</h2>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <div class="list-group-item-heading">Id</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="list-group">
                <div class="list-group-item-heading">Nome</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="list-group">
                <div class="list-group-item-heading">Tipo</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="list-group">
                <div class="list-group-item-heading">Preço</div>
            </div>
        </div>
    </div>
</div>
<table id="database" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th data-editable="true">Id</th>
            <th data-editable="true">Nome</th>
            <th data-editable="true">Tipo</th>
            <th data-editable="true">Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr>

        </tr>
    </tbody>
</table>

