@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-3" style="align-content: initial">
            <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:250px; border:groove; border-color:lightcoral" />
        </div>
        <div class="col-md-3" style="align-content:center">
            <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:250px; border:groove; border-color:lightcoral" />
        </div>
        <div class="col-md-3" style="align-content: end">
            <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:250px; border:groove; border-color:lightcoral" />
        </div>
    </div>
</div>
