<section>

    <!--Partial do tipo de artigo-->
    <div>
        @switch (ViewBag.ProductType)
        {
            case "bijutaria":
                Html.Partial("_storeBijutaria");
                break;

            case "lembrancas":
                Html.Partial("_storeLembrancas");
                break;

            case "religiosos":
                Html.Partial("_storeReligiosos");
                break;

            case "diversos":
                Html.Partial("_storeDiversos");
                break;

            default:
                Html.Partial("_error");
                break;
        }
    </div>

</section>
<style>
    .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(255, 127, 80, 0.59);
        color: coral;
        width: 100%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 2px;
        text-align: center;
    }

    .img1 {
        position: relative;
        width: 100%;
    }


        .img1:hover .overlay {
            opacity: 1;
        }
</style>


<div class="container">

    <div class="row">

        <div class="col-sm-2" style="position:center; border-bottom:groove;border-top:groove; border-right:groove; border-left:groove">
            <h4> Filtrar por: </h4>

            <input type="checkbox" name="vehicle1" value="Bike"> Pulseiras<br>
            <input type="checkbox" name="vehicle2" value="Car"> Fios <br>
            <input type="checkbox" name="vehicle3" value="Boat"> Aneis<br>
        </div>

        <div class="col-sm-offset-1 col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">3.50€</div>

            </div>

        </div>
        <div class="col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">5.50€</div>

            </div>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-offset-1 col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-offset-1 col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
    </div>


</div>

