<section>
    <!--Partial do tipo de artigo-->
    <div>
        @switch (ViewBag.ProductType)
        {
            case "bijutaria":
                Html.Partial("_storeBijutaria");
                break;

            case "lembrancas":
                Html.Partial("_storeLembrancas");
                break;

            case "religiosos":
                Html.Partial("_storeReligiosos");
                break;

            case "diversos":
                Html.Partial("_storeDiversos");
                break;

                //default:
                //    Html.Partial("_error");
                //    break;
        }
    </div>


    <div class="container">

        <div class="row">

            <div class="col-sm-2" style="position:center; border-bottom:groove;border-top:groove; border-right:groove; border-left:groove">
                <h4>Filtrar por: </h4>

                <input type="checkbox" name="vehicle1" value="Bike"> Pulseiras<br>
                <input type="checkbox" name="vehicle2" value="Car"> Fios <br>
                <input type="checkbox" name="vehicle3" value="Boat"> Aneis<br>
            </div>

            <div class="col-sm-offset-1 col-sm-3">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
            </div>
            <div class="col-sm-3">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
            </div>
            <div class="col-sm-3">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
            </div>
        </div>

    </div>

</section>

