<section>

    <!--Partial do tipo de artigo-->
    <div>
        @switch (ViewBag.ProductType)
        {
            case "bijutaria":
                Html.Partial("_storeBijutaria");
                break;

            case "lembrancas":
                Html.Partial("_storeLembrancas");
                break;

            case "religiosos":
                Html.Partial("_storeReligiosos");
                break;

            case "diversos":
                Html.Partial("_storeDiversos");
                break;

            default:
                Html.Partial("_error");
                break;
        }
    </div>

</section>

