<p>Aqui estão apresentados todos os artigos disponíveis na nossa loja online, esperamos que encontre o que deseja</p>
<div>
    @switch (ViewBag.Seccao)
    {
        case "bijutaria":
            Html.RenderPartial("_storeBijutaria");
            break;

        case "lembrancas":
            Html.RenderPartial("_storeLembrancas");
            break;

        case "religiosos":
            Html.RenderPartial("_storeReligiosos");
            break;

        case "diversos":
            Html.RenderPartial("_storeDiversos");
            break;
    }
</div>

