<h2>Loja</h2>
<section>
    <article class="panel">
        <p>Aqui estão apresentados todos os artigos disponíveis na nossa loja online, esperamos que encontre o que sedeja</p>
    </article>
</section>

