<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    a:hover {
        color: coral !important;
    }

    .dropdown .dropbtn {
        font-size: 26px;
        border: none;
        outline: none;
        color: black;
        padding: 0px 12px;
        background-color: inherit;
        font-family: Bahnschrift;
        margin: 0;
    }

     .dropdown-content a {
  float: none;
  color: black;
  font-size: 20px;
  font-family: Bahnschrift;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  text-align: center;
}

    .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
    .dropdown-content a:hover {
        background-color: #ddd;
}
    .dropdown:hover .dropdown-content {
  display: block;
  position:center
}

</style>

<div class="text-center" style="color: black; font-size:45px; font-family:Bahnschrift">
    A nossa lojinha
    <div>
        <img src="~/Content/kit-3x-adesivo-terco-nossa-senhora-religioso-fe-12cm-a117-D_NQ_NP_920411-MLB20545168461_012016-F.jpg" class="img-fluid" style="height:150px">
    </div>
</div>


<div class="container">
    <div class="nav navbar" style="margin-top: 10px; background-color:white">
        <div class="nav-justified">
            <div class="navbar-collapse">
                <div class="container container-fluid">
                    <div class="row" style="height: 50px;border-bottom-style:groove;border-top-style:groove; padding-left:0px; line-height:normal; border-bottom-color:floralwhite; border-top-color:floralwhite">
                        <div class="nav-itens">
                            <div class="col-md-3 text-center">
                                <div class="item">
                                    @Html.ActionLink("Início", "Index", null, new { @style = "text-decoration: none; font-size:26px; font-family:Bahnschrift; color: black;" })
                                    <!--Controllers action links-->
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="dropdown">
                                    <button class="dropbtn">
                                        Artigos <i class="fa fa-caret-down" style="color:black"></i>
                                    </button>
                                    <div class="dropdown-content" style="margin-left: 40px;">
                                        <a href="~/Home/Store">Artigos 1</a>
                                        <a href="~/Home/Store">Artigos 2</a>
                                        <a href="~/Home/Store">Artigos 3</a>
                                        <a href="~/Home/Store">Artigos 4</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="item">
                                    @Html.ActionLink("Contactos", "Contact", null, new { @style = "text-decoration: none; font-size:26px; font-family:Bahnschrift;  color: black;" })
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="item">
                                    @Html.ActionLink("Sobre Nós", "Us", null, new { @style = "text-decoration: none;  font-size:26px; font-family:Bahnschrift; color: black;" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p style="margin-bottom: 70px;"></p>
<style>
    .nav-itens {
        margin-top: 5px;
    }
</style>
