<div class="container">
    <div class="nav navbar" style="margin-top: 10px; background-color:white">
        <div class="nav-justified">
            <div class="navbar-collapse">
                <div class="container container-fluid">
                    <div class="row" style="height: 50px;border-bottom-style:groove;border-top-style:groove; padding-left:0px; line-height:normal; border-bottom-color:floralwhite; border-top-color:floralwhite">
                        <div class="nav-itens">
                            <div class="col-md-3 text-center">
                                <div class="item">
                                    @Html.ActionLink("Início", "Index", "Home",null, new { @style = "text-decoration: none; font-size:26px; font-family:Bahnschrift; color: black;" })
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="dropdown">
                                    <button class="dropbtn">
                                        Loja <i class="fa fa-caret-down" style="color:black"></i>
                                    </button>
                                    <div class="dropdown-content" style="margin-left: 40px;">
                                        <a href="~/Home/Store/Bijutaria">Bijutaria</a>
                                        <a href="~/Home/Store/Lembrancas">Lembranças</a>
                                        <a href="~/Home/Store/Religiosos">Religiosos</a>
                                        <a href="~/Home/Store/Diversos">Diversos</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="item">
                                    @Html.ActionLink("Contactos", "Contact","Home",null, new { @style = "text-decoration: none; font-size:26px; font-family:Bahnschrift;  color: black;" })
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="item">
                                    @Html.ActionLink("Sobre Nós", "Us","Home",null, new { @style = "text-decoration: none;  font-size:26px; font-family:Bahnschrift; color: black;" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
