<div class="container">
    <div class="row">
        <div class="col-sm-2" style="position:center; border-bottom:groove;border-top:groove; border-right:groove; border-left:groove">
            <h4> Filtrar por: </h4>

            <input type="checkbox" name="vehicle1" value="Bike"> Pulseiras<br>
            <input type="checkbox" name="vehicle2" value="Car"> Fios <br>
            <input type="checkbox" name="vehicle3" value="Boat"> Aneis<br>
        </div>
        <div class="col-sm-offset-1 col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">3.50€</div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">5.50€</div>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-offset-1 col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-offset-1 col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="img1">
                <img src="~/Content/stephanie-harvey-_Bh3FpwBIIQ-unsplash.jpg" style="width:100%" />
                <div class="overlay">4.50€</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @{
        if (ViewBag.ProductName == "bijutaria")
        {
            if (ViewBag.ImagesPaths != null)
            {
                foreach (string path in ViewBag.ImagesPaths)
                {
                    //Mostrar imagens da lista vinda do blob storage 
                    <img href="@path" width="200" height="100" />
                }
            }
        }
    }
</div>
