<div class="row">
    @{
        if (ViewBag.ProductName == "bijutaria")
        {
            if (ViewBag.ImagesPaths != null)
            {
                foreach (string path in ViewBag.ImagesPaths)
                {
                    //Mostrar imagens da lista vinda do blob storage 
                    <img href="@path" width="200" height="100" />
                }
            }
        }
    }
</div>
